.card {
  /* Add shadows to create the "card" effect */
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  background:white;
  margin-bottom: 2em;
  flex: 0 1 24%;
}

.card-content {
  padding: .5em;
}

.card-content h3 {
  margin-top: 0;
  margin-bottom: .5em;
  font-weight: bold;
  color:white;
}

.card-content p {
  font-size: 80%;
  color:white;
}

.content-petname {
  color: white;
}

.cardButton {
  background-color:#1C818C;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  padding: .5em;
  border-radius: 2px;
  margin: .1em;
  width: 100%;
}

.card button:hover {
  background-color:#343779;
}