small {
    font-size: 75%;
  }
  
  header {
    background-color:#146173;
    border: #33A9AC solid 3px;
  }
  
  .site-title {
    color: white;
    text-align: center;
    font-size: 2.5em;
  }
  
  nav .container {
    display: flex;
    padding: 0;
    margin-bottom: 0;
  }
  
  nav .container li {
    flex: 1;
    padding: 10px;
    text-align: center;
    font-size: 1.75em;
    color: white;
    box-sizing: border-box;
    background-color: #146173;
    list-style-type: none;
  }
  
  nav .container a {
    color: white;
  }
  
  nav .container a:hover {
    color: #592B20;
  }
  nav span {
    cursor: pointer;
    text-decoration: underline;
 }
 nav span:hover {
  color: #592B20;
 }