small {
    font-size: 75%;
  }
  
  header {
    background-color:#33A9AC;
    border: #33A9AC solid 3px;
  }
  
  .site-title {
    color: white;
    text-align: center;
  }
  
  nav .container {
    display: flex;
    padding: 0;
    margin-bottom: 0;
  }
  
  nav .container li {
    flex: 1;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    color: white;
    box-sizing: border-box;
    background-color: #33A9AC;
    list-style-type: none;
  }
  
  nav .container a {
    color: white;
  }
  
  nav .container a:hover {
    color: black;
  }